.photo-grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: auto;
  gap: 12px;
  width: calc(100% - 32px);
  opacity: 55%;
  font-family: Inter, Arial, sans-serif;
}

@media (min-width: 768px) {
  .photo-grid {
    gap: 16px;
    width: calc(100% - 48px);
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    width: calc(100% - 48px * 2);
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, auto);
  }
}
