.cover__subtitle {
  font-size: 14px;
  line-height: 1.1;
  color: white;
  text-align: center;
  max-width: 360px;
  margin: 0 auto 115px;
  ;
  z-index: 1;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
  }
}
