.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 48px 16px;
  padding: 0;
  min-height: 200px;
}

@media (min-width: 768px) {
  .footer__links {
    flex-direction: initial;
    margin: 0;
    padding-left: 24px;
    min-height: 0;
  }
}

@media (min-width: 1024px) {
  .footer__links {
    padding-left: 0;
  }
}
