.footer__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 48px 0;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__links {
    flex-direction: initial;
    margin: 0;
    padding-left: 24px;
  }
}

@media (min-width: 1024px) {
  .footer__links {
    padding-left: 48px;
  }
}

@media (min-width: 1280px) {
  .footer__links {
    padding: 0;
  }
}
