.footer__copyright {
  font-size: 14px;
  line-height: 1;
  color: white;
  margin: 0 0 0 16px;
}

@media (min-width: 768px) {
  .footer__copyright {
    line-height: 1.143;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .footer__copyright {
    padding-right: 48px;
  }
}

@media (min-width: 1280px) {
  .footer__copyright {
    padding: 0;
  }
}
