.place {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 0 50px 0;
  font-family: Inter, Arial, sans-serif;

}

@media (min-width: 768px) {
  .place {
    grid-template-columns: 1.94fr 28px 2fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    margin: 0 0 72px 0;
    max-height: 581px;
  }

  .place:last-child {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .place {
    grid-template-columns: 1.93fr 32px 2fr;
    margin: 0 0 81px 0;
    max-height: 640px;
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns: 1.92fr 40px 2fr;
    max-height: 660px;
  }
}
