.place__url-heading {
  font-size: 12px;
  font-weight: 1;
  letter-spacing: 0.2em;
  color: #aaa;
  margin: 0 16px 12px;
}

@media (min-width: 768px) {
  .place__url-heading {
    margin: 0 0 16px 0;
  }
}
